{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<section class="py-5">
  <div class="container">
    <h1 class="fw-bold mb-4 text-center">Get in Touch with Us</h1>

    <div class="row g-4">
      <!-- Contact Info -->
      <div class="col-md-6">
        <h4>Email & Phone</h4>
        <p><strong>Email:</strong> <a href="mailto:Santaafricafoundation@gmail.com">Santaafricafoundation@gmail.com</a></p>
        <p><strong>Phone:</strong> <a href="tel:+254728974344">0728974344</a>, <a href="tel:+254723174467">0723174467</a>, <a href="tel:+254787122323">0787122323</a></p>

        <h4 class="mt-4">Follow Us</h4>
        <p>
          <a href="https://www.tiktok.com/@yourhandle" target="_blank" class="me-3">
            <i class="bi bi-tiktok"></i> TikTok
          </a><br>
          <a href="https://www.instagram.com/yourhandle" target="_blank" class="me-3">
            <i class="bi bi-instagram"></i> Instagram
          </a><br>
          <a href="https://twitter.com/yourhandle" target="_blank" class="me-3">
            <i class="bi bi-twitter-x"></i> X (Twitter)
          </a><br>
          <a href="https://www.facebook.com/yourhandle" target="_blank" class="me-3">
            <i class="bi bi-facebook"></i> Facebook
          </a>
        </p>
      </div>

      <!-- Map -->
      <div class="col-md-6">
        <h4>Our Office</h4>
        <p><strong>Location:</strong> Eldoret Town, Uasin Gishu County, Kenya</p>
        <div class="ratio ratio-4x3 rounded shadow">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.718973503154!2d35.2628555!3d0.5142774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1780e1ae25d9305f%3A0x64683cb6d3f2361c!2sEldoret%2C%20Kenya!5e0!3m2!1sen!2ske!4v1683630020169!5m2!1sen!2ske"
            width="600"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
