{% extends 'core/base.html' %}
{% block content %}
<section class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-4 fw-bold">Key Programs</h2>
    <div class="row g-4">
      {% for program in programs %}
      <div class="col-md-4">
        <div class="card h-100">
          <img src="{{ program.image.url }}" style="max-width: 150px; height: auto;" class="card-img-top" alt="{{ program.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ program.title }}</h5>
            <p class="card-text">{{ program.description|truncatewords:25 }}</p>
          </div>
        </div>
      </div>
      {% empty %}
      <p class="text-center">No programs available yet.</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
